[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "0BSD"
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
skip = [
    { name = "windows-sys", version = ">=0.52.0,<1.0.0" },
]

[sources]
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []